<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>

<link rel="stylesheet" href="/stylesheets/navBar.css" />

<div style="width: 100%;top: 0%;left: 0%; position: fixed;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin: 0%;">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="http://localhost:3000/">
                    <p style="font-family: 'Times New Roman', Times, serif; text-decoration: double;margin: -5%;">
                        pandaReads</p>
                </a>
                <img src="/images/readPanda.png" height="45px" width="60px" alt="pandaReads" style="margin-top: -5%;">
                <!-- //////IMAGE PANDA -->

            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="navbar-brand" aria-current="page" href="http://localhost:3000/">
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="http://localhost:3000/adminPage">
                        <p>Admin</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="navbar-brand" href="http://localhost:3000/aboutPage" tabindex="-1">
                        <p>About</p>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</div>